ALCHEMY_URL=https://eth-rinkeby.alchemyapi.io/v2/dvLtTWZJYtqhryOqy6bLkfybk9QquMfM
INFURA_API_KEY=016e5386648343c2aa508b266b49cb0e
NEXT_JS_INFURA_ID=016e5386648343c2aa508b266b49cb0e
NEXT_JS_DEFAULT_ETHEREUM_NETWORK_NAME=rinkeby
NEXT_JS_DOMAIN_NAME=pooltogether.com
