# When the application is loaded on a non-web3 browser this is the network that the browser will use.
# Note: this is passed directly to ethers.js so you'll want to make sure ethers understand the name.

export HDWALLET_MNEMONIC=test test test test test test test test test test test junk
export NEXT_JS_FORTMATIC_API_KEY=
export NEXT_JS_FORTMATIC_PRODUCTION_API_KEY=

export NEXT_JS_PORTIS_API_KEY=

export NEXT_JS_INFURA_ID=016e5386648343c2aa508b266b49cb0e
export INFURA_API_KEY=016e5386648343c2aa508b266b49cb0e

export NEXT_JS_PORTIS_API_KEY=

export ALCHEMY_API_KEY=dvLtTWZJYtqhryOqy6bLkfybk9QquMfM
export ALCHEMY_URL=https://eth-rinkeby.alchemyapi.io/v2/dvLtTWZJYtqhryOqy6bLkfybk9QquMfM
